
pizzy_db.sqlite3

## ab projects
/.vscode
pizzy_project/activate.bat

### Django ###
__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]

# django migrations 
**/**/migrations/**
**/**/migrations
**/**//migrations/__init__.py
